body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
  background: #311b92;
  padding: 5px;
  color: aliceblue;
}

.targets {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.targets li {
  padding-left: 10px;
  display: flex;
  cursor: pointer;
  text-align: center;
  align-items: baseline;
}

.targets li div {
  padding-right: 5px;
}

.backdrop {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.todolist {
  min-width: 290px;
  max-width: 500px;
  font-size: small;
  margin-bottom: 5px;
  z-index: 2;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 5px;
  z-index: 3;
}

.arrow {
  padding-left: 3px;
}

.checkBox {
  margin-right: 20px;
}

.done {
  text-decoration: line-through;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1;
}

@media (max-width: 992px) {
  .targets {
    flex-direction: column;
    align-items: center;
  }

  .main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .sub i {
    transform: rotate(-90deg);
  }

  .todolist {
    max-width: 800px;
  }
}

@media (min-width: 992px) {
  .main {
    flex-direction: row;
    justify-content: space-around;
  }
}

.sub {
  font-size: small;
  padding: 1px 1px 0px 1px;
  margin-left: 20px;
}

.sub button {
  width: 22px;
  height: 22px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub input {
  padding: 0 1rem 0;
  height: 20px;
}

.counter {
  font-weight: normal;
  margin-left: 5px;
}

.color-btn {
  width: 38px;
  height: 38px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10% 0 0 10%;

  transition: border-radius 0.1s ease-out;
}

.color-btn:hover {
  border-radius: 50%;
}

.color-btn:active {
  transform: scale(0.9);
}

.color-menu {
  padding: 6px;
  position: absolute;
  /* cursor: pointer; */
  display: flex;
  list-style-type: none;
  background: #ffffff;
}

.color.green {
  background: #c8e6c9;
}
.color.orange {
  background: #ffe0b2;
}
.color.indigo {
  background: #c5cae9;
}
.color.purple {
  background: #e1bee7;
}
.color.blue {
  background: #baddf9;
}
.color.red {
  background: #ffcdd2;
}
.color.yellow {
  background: #fff9c4;
}

.color-item {
  border-radius: 20%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 5px;

  transition: all 0.1s ease-in;
}

.color-item:hover {
  border-radius: 50%;
}

.alert {
  display: flex;
  position: absolute;
  z-index: 1200;
  opacity: 0.9;
}

.alert div:first-child {
  margin-right: 20px;
}

.alert span {
  cursor: pointer;
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity 350ms ease-in-out;
  opacity: 0.9;
}

.alert-exit-active {
  transition: opacity 500ms ease-out;
  opacity: 0;
}

.todos-exit-active {
  animation: todos 5000ms ease-out forwards;
}

@keyframes todos {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

.myModal {
  transform: translate(-50%, 0);
  position: absolute;
  min-width: 300px;
  left: 50%;
  z-index: 3;
}

.modal-enter {
  transform: translate(-50%, -300px);
  opacity: 0;
  z-index: 2000;
}
.modal-enter-active {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: all 200ms;
  z-index: 2000;
}
.modal-exit {
  opacity: 1;
  z-index: 2000;
}
.modal-exit-active {
  transform: translate(-50%, -300px);
  opacity: 0;
  transition: all 200ms;
  z-index: 2000;
}

.color-menu-enter {
  opacity: 0;
}
.color-menu-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.color-menu-exit {
  opacity: 1;
}
.color-menu-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
