body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
  /* background: #311b92; */
  background: #311b92;
  padding: 5px;
  color: aliceblue;
}

.targets {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.targets li {
  padding-left: 10px;
  display: flex;
  /* background: #6200ea; */
  cursor: pointer;
}

.targets li div {
  padding-right: 5px;
}

.backdrop {
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.todolist {
  min-width: 290px;
  max-width: 500px;
  font-size: small;
  margin-bottom: 5px;
  z-index: 1;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 5px;
  z-index: 1;
}

.checkBox {
  margin-right: 20px;
}

.done {
  text-decoration: line-through;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1;
}

@media (max-width: 992px) {
  .targets {
    flex-direction: column;
    align-items: center;

  }
  .main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .todolist {
    max-width: 800px;
  }
}

@media (min-width: 992px) {
  .main {
    flex-direction: row;
    justify-content: space-around;
  }
}

.sub {
  font-size: small;
  padding: 1px 1px 0px 1px;
  margin-left: 20px;
}

.sub button {
  width: 22px;
  height: 22px;
  padding: 0;
  text-align: center;
}

.sub input {
  padding: 0 1rem 0;
  height: 20px;
}

.btn-toggle {
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  padding: 0;
  background: #fff;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}

.counter {
  font-weight: normal;
  margin-left: 5px;
}

.color-btn {
  width: 20px;
}

.color-menu {
  padding: 5px;
  display: flex;
  list-style-type: none;
}

.color.green {
  background: #c8e6c9;
}
.color.orange {
  background: #ffe0b2;
}
.color.indigo {
  background: #c5cae9;
}

.color-item {
  border-radius: 20%;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.alert {
  display: flex;
  position: absolute;
  z-index: 1200;
  opacity: 0.9;
}

.alert div:first-child {
  margin-right: 20px;
}

.alert span {
  cursor: pointer;
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity 350ms ease-in-out;
  opacity: 0.9;
}

.alert-exit-active {
  transition: opacity 500ms ease-out;
  opacity: 0;
}

.todos-exit-active {
  animation: todos 5000ms ease-out forwards;
}

@keyframes todos {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  transition: opacity 500ms ease-in-out;
  opacity: 1;
}

.modal-exit-active {
  transition: opacity 500ms ease-out;
  opacity: 0;
}
